/* Blanqueo de formatos por defecto */
*{
    /* height: 0px;
    width: 0px; */
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../img/Backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FFE699;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
    height: 280vh;
}

h1{
    background-color: rgba(255,230,153,0.62);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    height: 20vh;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family:'Brush Script MT',cursive;
    font-size: 18vh;
    color: rgb(0, 0, 0) ;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

nav ul{
    background-color: rgba(255, 230, 153, 0.46);
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    width: 100vw;
    color: #212121;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

.solapa{
    height: 8vh;
    width: 14vw;
    background-color: #FFE966;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solapa:link, .solapa:visited, .solapa:active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 8vh;
}

.solapa:hover{
    background-color: orange;
}

#anatomia{
    background-color: rgb(191, 144, 0,0.9);
}

/* Cuerpo de página */

section article h2{
    font-weight: bold;
    color: white;
    text-align: center;
}

#imagen-section{
    width: 35vh;
    height: 30vw;
    background-color: rgba(27, 17, 17, 0.973);
    margin-right: 15px;
}

.articulo_section {

    justify-content: right;
    font-size: 30px;
    background-color: rgb(27, 17, 17);
    height: auto;
    width: 80vw;
    color: white;
    word-wrap: break-word;
}
div article p{
    font-size: 25px;
}
section{
    background-color: rgba(227, 233, 176, 0);
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   padding: 10px;
   border: 2px solid black;
}

.coleccion-wind{
background-color: #58300fef;
padding: 20px;
margin-top: 20px;
display: flex;
flex-direction: column;
width: 45%;
margin-right: 10px;
word-wrap: break-word;
}
h3{
    font-weight: bold;
    font-size: 25px;
}

.observacion-exploracion{
background-color: #45460ae1;
padding: 20px;
margin-top: 20px;
display: flex;
flex-direction: row;
width: 45%;
margin-left: 10px;
word-wrap: break-word;
}
div img{
    width: 45vw;
    height: 40vh;
}
#diseño{
    display: flex;
    justify-content: space-around;

}

.articulo_fotos{

    display: flex;
    width: 100vw;

    justify-content: space-around;
    margin-top: 25px;
    flex-wrap: wrap;
}
.foto1{
    background-color: rgb(43, 6, 6);
    height: 310px;
    width: 40vh;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 20px;

}
.foto2{
    background-color: rgb(43, 6, 6);
    height: 310px;
    width: 40vh;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 20px;

}
.foto3{
    background-color: rgb(43, 6, 6);
    height: 310px;
    width: 40vh;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 20px;


}
.foto4{
    background-color: rgb(43, 6, 6);
    height: 310px;
    width: 40vh;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 20px;

}
article div img{
    height: 10vw;
    width:30vh;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}

/* Pie de página */
footer{
    background-color: rgba(255, 230, 153, 0.9);
    border-top: 2px solid black;
    height: 50vh;
    width: 100vw;
    color: #191919 ;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Títulos terciarios */
h3{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 40vw;
    height: 13vh;
    font-size: 30px;
}

/* Links de pie de página */
.flinks{
    /* background-color: rgb(247, 203, 71); */
    width: 65vw;
    height:30px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: start;
    font-size: 20px;
}

/* Items de lista (apuntado a las del pie de página) */
li{
    width: 20vw;
    align-items: center;
    justify-self: center;
    display: block;
    text-align: left;
}

/* Links del pie de pagina */
a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}
.link-pie:hover {
    color: rgb(0, 0, 190);
}

/* Texto inferior del pie de página */
.pie{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 5vh;
    font-size: 20px;
    justify-content:space-around;
    align-content:flex-end;
}

/* Texto de la izquierda */
.pie-text1{
    display: inline-flex;
    width: 45vw;
    font-weight: bold;
    height: fit-content;
}

/* Texto de la derecha */
.pie-text2{
    display: inline-flex;
    width: 45vw;
    height: fit-content;
    font-weight: bold;
    justify-content: end;
}