/* Blanqueo de formatos por defecto */
*{
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

/* Imagen de Fondo */
body{
    background-image: url("../img/Backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FFE699;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 200vh;
}

/* Título de página */
h1{
    background-color: rgba(255,230,153,0.62);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    height: 40vh;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family:'Brush Script MT',cursive;
    font-size: 18vh;
    color: rgb(0, 0, 0) ;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Barra de navegación */
ul{
    background-color: rgba(255, 230, 153, 0.46);
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    width: 100vw;
    color: #212121;
}

/* Componentes de barra de navegación */
.solapa{
    height: 8vh;
    width: 14vw;
    background-color: #FFE966;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solapa:link, .solapa:visited, .solapa:active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 8vh;
}

.solapa:hover{
    background-color: orange  /*rgb(191, 144, 0,0.9)*/;
}

#inicio{
    background-color: rgb(191, 144, 0,0.9);
}

/* Todo el main */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    height: 200vh;
    width: 100vw;
    margin-top: 55vh;
}

/* Carrousel */
.item1{
    background-color: rgb(191, 144, 0,0.9);
    border: 1px solid black;
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
}

/* Sección inferior */
.item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96vw;
    height: 90vh;
    font-size: 30px;
}

/* Artículo "Novedades" */
.item2a {
    background-color:rgb(230, 230, 230,0.9);
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* Títulos secundarios */
h2{
    display: inline-block;
    width: 40vw;
    height: fit-content;
    font-size: 30px;

}

/* Párrafos de artículos */
p{
    display: inline-block;
    width: 40vw;
    height: fit-content;
}

/* Artículo "Gran inauguración" */
.item2b {
    background-color:rgb(230, 230, 230,0.9);
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* Pie de página */
footer{
    background-color: rgba(255, 230, 153, 0.9);
    border-top: 2px solid black;
    height: 50vh;
    width: 100vw;
    color: #191919 ;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Títulos terciarios */
h3{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 40vw;
    height: 13vh;
    font-size: 30px;
}

/* Links de pie de página */
.flinks{
    background-color: rgb(247, 203, 71);
    width: 65vw;
    height:30px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: start;
    font-size: 20px;
}

/* Items de lista (apuntado a las del pie de página) */
li{
    width: 20vw;
    align-items: center;
    justify-self: center;
    display: block;
    text-align: left;
}

/* Links del pie de pagina */
a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}
.link-pie:hover {
    color: rgb(0, 0, 190);
}

/* Texto inferior del pie de página */
.pie{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 5vh;
    font-size: 20px;
    justify-content:space-around;
    align-content:flex-end;
}

/* Texto de la izquierda */
.pie-text1{
    display: inline-flex;
    width: 45vw;
    font-weight: bold;
    height: fit-content;
}

/* Texto de la derecha */
.pie-text2{
    display: inline-flex;
    width: 45vw;
    height: fit-content;
    font-weight: bold;
    justify-content: end;
}

