/* Blanqueo de formatos por defecto */
*{
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

/* Imagen de Fondo */
body{
    background-image: url("../img/Backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FFE699;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 200vh;
}

/* Título de página */
h1{
    background-color: rgba(255,230,153,0.62);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    height: 40vh;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family:'Brush Script MT',cursive;
    font-size: 18vh;
    color: rgb(0, 0, 0) ;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Barra de navegación */
ul{
    background-color: rgba(255, 230, 153, 0.46);
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    width: 100vw;
    color: #212121;
}

/* Componentes de barra de navegación */
.solapa{
    height: 8vh;
    width: 14vw;
    background-color: #FFE966;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solapa:link, .solapa:visited, .solapa:active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 8vh;
}

.solapa:hover{
    background-color: orange  /*rgb(191, 144, 0,0.9)*/;
}

#tecnicas{
    background-color: rgb(191, 144, 0,0.9);
}

/* Todo el main */
.container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:normal;
    height: 150vh;
    width: 100vw;
    margin-top: 55vh;
}

/* Sections */
.item1{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-around;
    height: 150vh;
    width: 100vw;
    margin-top: 0px;
}
/* Párrafos de artículos */
.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 60vh;
    width: 40vw;
    border: 1px solid black;
}

.fondo-items{
    display: inline-flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 20vw;
    justify-content:center;
    align-items: start;
}

.imagenes{
    height: 58vh;
    width: 19vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
}

h2{
    display: inline-flex;
    flex-wrap: wrap;
    width: 20vw;
    height: fit-content;
    font-size: 25px;
    text-align:center;
    justify-content: center;
    padding-top: 10px;
}

p2{
    display: inline-flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 60vh;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Artículo "Claroscuro" */
#artA {
    background-color: rgb(0, 0, 0, 0.9);
}

#itemA{
    color: white;
}

/* Artículo "Esfumado" */
#artB {
    background-color: rgb(191, 144, 0,0.9);
}

/* Artículo "Perspectiva aérea" */
#artC {
    background-color: rgb(0, 128, 0,0.9);
}

/* Artículo "Parragone" */
#artD {
    background-color: rgba(182, 6, 6, 0.9);
}




/* Pie de página */
footer{
    background-color: rgba(255, 230, 153, 0.9);
    border-top: 2px solid black;
    height: 50vh;
    width: 100vw;
    color: #191919 ;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Títulos terciarios */
h3{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 40vw;
    height: 13vh;
    font-size: 30px;
}

/* Links de pie de página */
.flinks{
    background-color: rgb(247, 203, 71);
    width: 65vw;
    height:30px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: start;
    font-size: 20px;
}

/* Items de lista (apuntado a las del pie de página) */
li{
    width: 20vw;
    align-items: center;
    justify-self: center;
    display: block;
    text-align: left;
}

/* Links del pie de pagina */
a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}
.link-pie:hover {
    color: rgb(0, 0, 190);
}

/* Texto inferior del pie de página */
.pie{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 5vh;
    font-size: 20px;
    justify-content:space-around;
    align-content:flex-end;
}

/* Texto de la izquierda */
.pie-text1{
    display: inline-flex;
    width: 45vw;
    font-weight: bold;
    height: fit-content;
}

/* Texto de la derecha */
.pie-text2{
    display: inline-flex;
    width: 45vw;
    height: fit-content;
    font-weight: bold;
    justify-content: end;
}
